@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Signika:300');

@font-face {
                          font-family: "QuicksandBold-Regular";
                          src: url('../fonts/Quicksand_Bold.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "QuicksandBook-Regular";
                          src: url('../fonts/Quicksand_Book.otf') format("opentype");
                        }
                        @font-face {
                          font-family: "Christmas";
                          src: url('../fonts/Christmas.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Alata-Regular";
                          src: url('../fonts/Alata-Regular.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "Signika-SemiBold";
                          src: url('../fonts/Signika-SemiBold.ttf') format("truetype");
                        }
                        
.desktophd {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 2624px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.desktophd .navheader {
  background-color    : rgba(255,255,255,0.0);
  top                 : -5px;
  height              : 92px;
  width               : 1452px;
  position            : absolute;
  margin              : 0;
  left                : -6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .navheader1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 1452px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .navheader1 .header1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 92px;
  width               : 1452px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .navheader1 .headerlinks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : 29px;
  width               : 1015px;
  position            : absolute;
  margin              : 0;
  left                : 398px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .navheader1 .headerlinks .about {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.desktophd .navheader .navheader1 .headerlinks .shop {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 98px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.desktophd .navheader .navheader1 .headerlinks .blog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 486px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.desktophd .navheader .navheader1 .headerlinks .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 567px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(0, 0, 0, 1.0);
  text-align          : left;
  line-height         : 29.0px;
}
.desktophd .navheader .navheader1 .headerlinks .searchbut {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 989px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .logo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 52px;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 642px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .logo .a99511 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 52px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .navheader .logo .breadfactory {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "QuicksandBold-Regular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  color               : rgba(65, 68, 75, 1.0);
  text-align          : left;
  letter-spacing      : 1.44px;
  line-height         : 16.0px;
}
.desktophd .navheader .logo .breadfactory .span1 {
  color               : rgba(246, 246, 246, 1.0);
}
.desktophd .navheader .logo .breadfactory .span2 {
  font-family         : "QuicksandBook-Regular", Helvetica, Arial, serif;
  color               : rgba(246, 246, 246, 1.0);
}
.desktophd .navheader .logo .breadfactory .span3 {
  font-family         : "Christmas", Helvetica, Arial, serif;
  color               : rgba(246, 246, 246, 1.0);
}
.desktophd .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 80px;
  height              : 650px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headerphoto {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 650px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headerphoto .mask {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 650px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headerphoto .photo1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -310px;
  height              : 1920px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.48;
}
.desktophd .header .headeritems {
  background-color    : rgba(255,255,255,0.0);
  top                 : 151px;
  height              : 476px;
  width               : 1352px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .wemakehandmadebre {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 252px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alata-Regular", Helvetica, Arial, serif;
  font-size           : 61.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 84.0px;
}
.desktophd .header .headeritems .aboutus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 145px;
  height              : 54px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 579px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .aboutus .rectangle {
  background-color    : rgba(255, 180, 75, 0.85);
  top                 : 0px;
  height              : 54px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .aboutus .aboutus1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 143px;
  position            : absolute;
  margin              : 0;
  left                : 26px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 33.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.desktophd .header .headeritems .breadfac {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 571px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .breadfac .breadfactory {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 33.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.desktophd .header .headeritems .breadfac .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 39px;
  height              : 3px;
  width               : 221px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .slidebuts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 464px;
  height              : 12px;
  width               : 52px;
  position            : absolute;
  margin              : 0;
  left                : 650px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .slidebuts .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .slidebuts .ovalcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .slidebuts .ovalcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 12px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : 47px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 1326px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .header .headeritems .rightcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 150px;
  height              : 47px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 799px;
  height              : 368px;
  width               : 1315px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .par11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 17px;
  height              : 230px;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .par11 .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alata-Regular", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(65, 68, 75, 1.0);
  text-align          : left;
  line-height         : 55.0px;
}
.desktophd .par1 .par11 .donecornareultrice {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : auto;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Signika", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(82, 87, 93, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktophd .par1 .par11 .readmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : 54px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .par11 .readmore .rectangle {
  background-color    : rgba(255, 180, 75, 0.85);
  top                 : 0px;
  height              : 54px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .par11 .readmore .readmore1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 33.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.desktophd .par1 .photo1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 1px;
  height              : 356px;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 703px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .photo1 .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 356px;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .photo1 .wesualclickrswzp9fbq4unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : -139px;
  height              : 509px;
  width               : 765px;
  position            : absolute;
  margin              : 0;
  left                : -54px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par1 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 18px;
  height              : 2px;
  width               : 399px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1502px;
  height              : 480px;
  width               : 1209px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .par11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 230px;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .par11 .sedefficiturlacus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alata-Regular", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(65, 68, 75, 1.0);
  text-align          : left;
  line-height         : 55.0px;
}
.desktophd .par2 .par11 .duisgravidaegeter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 69px;
  height              : auto;
  width               : 640px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Signika", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 25.0px;
  color               : rgba(82, 87, 93, 1.0);
  text-align          : left;
  line-height         : 31.0px;
}
.desktophd .par2 .par11 .readmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 176px;
  height              : 54px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .par11 .readmore .rectangle {
  background-color    : rgba(255, 180, 75, 0.85);
  top                 : 0px;
  height              : 54px;
  width               : 194px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .par11 .readmore .showblog {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 169px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 33.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.desktophd .par2 .photo1 {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 1px;
  height              : 468px;
  width               : 404px;
  position            : absolute;
  margin              : 0;
  left                : 799px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .photo1 .mask {
  background-color    : rgba(215, 215, 215, 1.0);
  top                 : 0px;
  height              : 468px;
  width               : 404px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .photo1 .leilianefagundes0stx2h8fpxkunsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : -89px;
  height              : 606px;
  width               : 404px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .par2 .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 61px;
  height              : 2px;
  width               : 332px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middlebg {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 1220px;
  height              : 220px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middlebg .mask {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 219px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middlebg .middlebg1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -173px;
  height              : 1379px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.7;
}
.desktophd .middlebg .u201cthesebreadsremind {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alata-Regular", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 55.0px;
}
.desktophd .middlebg .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 93px;
  height              : 80px;
  width               : 80px;
  position            : absolute;
  margin              : 0;
  left                : 680px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middlebg .armangokdemir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 173px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 656px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Signika-SemiBold", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 22.0px;
}
.desktophd .middlebg .thebestof100gour {
  background-color    : rgba(255,255,255,0.0);
  top                 : 196px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 649px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Signika", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.desktophd .middle2bg {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2033px;
  height              : 561px;
  width               : 1452px;
  position            : absolute;
  margin              : 0;
  left                : -6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .middle2bg1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 1px;
  height              : 549px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .middle2bg1 .mask {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 1px;
  height              : 548px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .middle2bg1 .middle2bg2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1411px;
  height              : 2012px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.74;
}
.desktophd .middle2bg .par2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 134px;
  height              : 282px;
  width               : 829px;
  position            : absolute;
  margin              : 0;
  left                : 311px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .par2copy .par11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 274px;
  width               : 827px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .par2copy .par11 .loremipsumdolorsi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Alata-Regular", Helvetica, Arial, serif;
  font-size           : 45.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 63.0px;
}
.desktophd .middle2bg .par2copy .par11 .orcivariusnatoque {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : auto;
  width               : 829px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Signika", Helvetica, Arial, serif;
  font-weight         : 300;
  font-style          : normal;
  font-size           : 28.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 34.0px;
}
.desktophd .middle2bg .par2copy .par11 .readmore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 220px;
  height              : 54px;
  width               : 311px;
  position            : absolute;
  margin              : 0;
  left                : 259px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .par2copy .par11 .readmore .rectangle {
  background-color    : rgba(255, 180, 75, 0.85);
  top                 : 0px;
  height              : 54px;
  width               : 311px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .middle2bg .par2copy .par11 .readmore .loremipsum {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : auto;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 700;
  font-style          : normal;
  font-size           : 33.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 38.0px;
}
.desktophd .middle2bg .par2copy .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 829px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2583px;
  height              : 41px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .rectangle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 41px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .a2512019armangokdemir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktophd .bottombar .a2512019armangokdemir .span1 {
  
}
.desktophd .bottombar .a2512019armangokdemir .span2 {
  font-family         : "Karla", Helvetica, Arial, serif;
  font-weight         : 400;
  font-style          : normal;
}
.desktophd .bottombar .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 18px;
  width               : 229px;
  position            : absolute;
  margin              : 0;
  left                : 606px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .group1 .privacy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktophd .bottombar .group1 .terms {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 183px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktophd .bottombar .group1 .accesibility {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LucidaGrande", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.desktophd .bottombar .socialicons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 20px;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 1277px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .socialicons .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .socialicons .youtube {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 56px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .socialicons .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 114px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .socialicons .twitter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 28px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.desktophd .bottombar .socialicons .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 86px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}